# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [45]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='inner')
result = joined[joined.rating == 5.0 ]['title'].value_counts(normalize=True).head(1)
result

Shawshank Redemption, The (1994)    0.010949
Name: title, dtype: float64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [60]:
power = pd.read_csv('power.csv')
power[((power.country.isin(['Latvia','Lithuania','Estonia'])) & (power.category.isin([4,12,21])) 
       & ((power.year >= 2005) & (power.year <= 2010)) & (power.quantity > 0))].quantity.sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [66]:
page_url = 'https://ru.myfin.by/currency/rostov-na-donu'
df = pd.read_html(page_url, attrs = {'class': 'table-best'}, encoding='utf-8')
pd.DataFrame(df[0])

       Валюта  Покупка  Продажа  Курс ЦБ 04.02.2020
0      Доллар    63.40    63.85             63.9091
1        Евро    70.35    70.50             70.7921
2        Фунт    82.19    83.49             83.9766
3  Бел. рубль    26.63    32.75             29.7279
4    Тенге100    11.53    21.88             16.7751
5        Юань     8.97     9.17              9.0974
6       Франк    65.46    66.46             66.3164
7     Йена100    57.42    60.10             58.8943